@import 'media-queries';

.dn { display: none; }
.di { display: inline; }
.db { display: block; }
.dib { display: inline-block; }
.dit { display: inline-table; }
.dt { display: table; }
.dtc { display: table-cell; }
.dt-row { display: table-row; }
.dt-row-group { display: table-row-group; }
.dt-column { display: table-column; }
.dt-column-group { display: table-column-group; }

@include breakpoint-small(){
  .dn-s { display: none; }
  .di-s { display: inline; }
  .db-s { display: block; }
}
@include breakpoint-medium(){
  .dn-m { display: none; }
  .di-m { display: inline; }
  .db-m { display: block; }
}
@include breakpoint-large(){
  .dn-l { display: none; }
  .di-l { display: inline; }
  .db-l { display: block; }
}
