/* Variable for breakpoint */
$breakpoint-1: 425px;
$breakpoint-2: 768px;
$breakpoint-3: 1024px;

/* Media Query */
@mixin breakpoint-small() {
  @media screen and (max-width: $breakpoint-1){
    @content
  }
}
@mixin breakpoint-medium() {
  @media screen and (min-width: $breakpoint-1){
    @content
  }
}

@mixin breakpoint-large() {
  @media screen and (min-width: $breakpoint-3){
    @content
  }
}

